header {
  background-color: var(--grey);
  padding: 0.5rem;
  text-align: center;
}

.logo {
  width: 2rem;
  padding: 0.2rem;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.search-bar {
  width: 12rem;
  margin: 0 auto;
  padding: 0.2rem;
}

.search-bar__imput {
  width: 100%;
  padding-left: 1.5rem;
  background-image: url(/Gtd/assets/search.svg);
  background-repeat: no-repeat;
  background-position: 0.1rem 0.2rem;
  background-size: 1rem;
}
