.hero {
  height: 60vh;
  background-image: url(/Gtd/assets/hero-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__heading {
  color: var(--grey);
}
