/* variables */
:root {
  --grey: #707070;
  --yellow: #ffbc40;
}

/* hero */
.hero {
  height: 60vh;
  background-image: url(/Gtd/assets/hero-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__heading {
  color: var(--grey);
}

.yellow-line {
  height: 1vh;
  background-color: var(--yellow);
}
