/* variables */
:root {
  --grey: #707070;
  --yellow: #ffbc40;
}

.hero {
  height: 550px;
  background-image: url(/Gtd/assets/hero-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__heading {
  color: var(--grey);
}
.about {
  padding: 0.5rem;
}
.about-images {
  display: flex;
  justify-content: space-between;
}
.member-img {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
}
.about-text {
  text-align: center;
}
.about-text h2 {
  color: var(--yellow);
}

.member-card {
  text-align: center;
}
.member-card h5 {
  color: var(--yellow);
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
}
.contact-img {
  border-radius: 50%;
  width: 40vw;
  height: 40vw;
}

.yellow-line {
  height: 1rem;
  background-color: var(--yellow);
}
